name: Build LaTeX Beamer

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: presentation.tex

      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: presentation
          path: presentation.pdf
